@using Corretaje.Api.Dto.Agenda

@model VisitaFotografoDto

@{
    Layout = "~/Template/_Layout.cshtml";
}

<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto; width: 600px;">
    <tr id="visita-fotografo">
        <td valign="middle" class="bg_white" style="height: 400px;">
            <table>
                <tr>
                    <td>
                        <div class="box-cont text-center">
                            <div class="cont-img"><img src="https://propiblobstorage.blob.core.windows.net/mails/images/fotografo.png" alt="" style="border: none;"></div>
                            <br>
                            <h2>Visita fotógrafo(a)</h2>
                            <p>Nuestros fotógrafos 3D captura todo el interior de tu propiedad </p>
                            <ul>
                                <li>Datos del cliente:</li>
                                <li>Nombre: @Model.Cliente.Nombres</li>
                                <li>Correo: @Model.Cliente.Mail</li>
                                <li>Teléfono de contacto: @Model.Cliente.Telefono</li>
                            </ul>
                            <p>Tienes una visita agendada para el día @Model.Fecha entre las @Model.Tramo hrs</p>
                            <p>En la dirección @Model.Direccion</p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>