@model Corretaje.Api.Dto.Agenda.VisitaAgenteDto

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" lang="es" xml:lang="es">

<body style="background-color:white;">
    <div style="background-color:white;">

        <div style="margin:0px auto;max-width:520px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding-left:20px;padding-right: 20px;padding-top:50px;text-align:center;">




2
                            <div class="mj-column-per-100 outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="font-size:0px;word-break:break-word;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                                                    <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/Logogris%402x.png" alt="LogoPropins" style="width:140px;height:40px;padding-bottom:30px;"></table>
                                            </td>
                                        </tr>
                                    </tbody>
                                    </table>
                            </div>

                            <div class="mj-column-per-100 outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="">
                                                <div style="font-family: OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:25px;font-weight:600;line-height:1.2;padding-top:10px; padding-bottom:20px;text-align:center;color:#134609;">
                                                    ¡Tu visita virtual está confirmada!
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="mj-column-per-100 outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="font-size:0px;word-break:break-word;">
                                                <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/Interseccio%E2%95%A0%C3%BCn%202.jpg" alt="ManoEscribiendo" style="border:0;border-radius:0px;display:block;outline:none;text-decoration:none;height:auto;width:400px;font-size:13px; " width="488">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:14px;font-weight:700;padding-top:20px; padding-bottom:20px;line-height:1.4;text-align:center; ">
                                <span style="color: #134609; ">DATOS DE TU AGENDAMIENTO</span>
                            </div>


                            <tr>
                                <td align="left " style="font-size:0px;padding-bottom:10px;word-break:break-word; ">
                                    <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size: 12px;padding-left: 20px;padding-right:20px;line-height:1.4;color:#8E8E92; ">
                                        <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/LogoProyecto.jpg" alt="LogoProyecto " style="width: 15px; height: auto;">
                                        <span style="color: #000000; font-weight:800; text-align: left;">PROYECTO:</span>
                                <span style="color: #000000; text-align:right; ">@Model.NombreProyecto</span>
                            </div>
                            <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/Li%E2%95%A0%C3%BCnea.jpg" alt="Linea " style="width: 500px; height: auto; position: center; padding-top: 15px;padding-left: 20px;padding-right:20px;">
                        </td>
                    </tr>

                    <tr>
                        <td align="left " style="font-size:0px;padding-bottom:10px;word-break:break-word; ">
                            <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size: 12px;padding-left: 20px;padding-right:20px;line-height:1.4;color:#8E8E92; ">
                                <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/LogoFecha.jpg" alt="LogoProyecto " style="width: 15px; height: auto;">
                                <span style="color: #000000; font-weight:800; text-align: left;">FECHA:</span>
                                @* <span style="color: #000000; ">@Model.Fecha.ToString("D ") </span><br /> *@
                            </div>
                            <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/Li%E2%95%A0%C3%BCnea.jpg" alt="Linea " style="width: 500px; height: auto; position: center; padding-top: 15px;padding-left: 20px;padding-right:20px;">
                        </td>
                    </tr>

                    <tr>
                        <td align="left " style="font-size:0px;padding-bottom:10px;word-break:break-word; ">
                            <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size: 12px;padding-left: 20px;padding-right:20px;line-height:1.4;color:#8E8E92; ">
                                <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/horario.jpg" alt="LogoProyecto " style="width: 15px; height: auto;">
                                <span style="color: #000000; font-weight:800; text-align: left;">HORARIO:</span>
                                <span style="color: #000000; "> de  @Model.Tramo.Replace("- ", " a ") hrs.</span>
                            </div>
                            <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/Li%E2%95%A0%C3%BCnea.jpg" alt="Linea " style="width: 500px; height: auto; position: center; padding-top: 15px;padding-left: 20px;padding-right:20px;">
                        </td>
                    </tr>

                    <tr>
                        <td align="left " style="font-size:0px;padding-bottom:10px;word-break:break-word; ">
                            <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size: 12px;padding-left: 20px;padding-right:20px;line-height:1.4;color:#8E8E92; ">
                                <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/LogoCliente.jpg" alt="LogoProyecto " style="width: 15px; height: auto;">
                                <span style="color: #000000; font-weight:800; text-align: left;">CLIENTE:</span>
                                <span style="color: #000000; ">@Model.Cliente.Mail</span>
                            </div>
                            <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/Li%E2%95%A0%C3%BCnea.jpg" alt="Linea " style="width: 500px; height: auto; position: center; padding-top: 15px;padding-left: 20px;padding-right:20px;">
                        </td>
                    </tr>

                    <tr>
                        <td align="left " style="font-size:0px;padding-bottom:10px;word-break:break-word; ">
                            <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size: 12px;padding-left: 20px;padding-right:20px;line-height:1.4;color:#8E8E92; ">
                                <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/LogoCorreo.jpg" alt="LogoProyecto " style="width: 15px; height: auto;">
                                <span style="color: #000000; font-weight:800; text-align: left;">CORREO:</span>
                                <span style="color: #000000; ">@Model.Email</span>
                            </div>
                            <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/Li%E2%95%A0%C3%BCnea.jpg" alt="Linea " style="width: 500px; height: auto; position: center; padding-top: 15px;padding-left: 20px;padding-right:20px;">
                        </td>
                    </tr>

                    <tr>
                        <td align="left " style="font-size:0px;padding-bottom:10px;word-break:break-word; ">
                            <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size: 12px;padding-left: 20px;padding-right:20px;line-height:1.4;color:#8E8E92; ">
                                <span style="color: #000000; font-weight:800; text-align: left;">CÓDIGO DE RESERVA:</span>
                                <span style="color: #000000; background: #d0edff; padding: 5px ;border-radius: 4px;">@Model.Id</span>
                            </div>
                            <img src="https://propiblobstorage.blob.core.windows.net/003372f3-a922-4e86-8c52-b6edcf7bb6c3/Li%E2%95%A0%C3%BCneaGruesa.jpg" alt="Linea " style="width: 500px; height: auto; position: center; padding-top: 15px;padding-left: 20px;padding-right:20px;">
                        </td>
                    </tr>

                    <tr>
                        <td align="left" style="font-size:0px;word-break:break-word;">
                            <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:14px;padding-top:20px;padding-left: 20px;padding-right:20px;font-weight:600;line-height:1.4;text-align:left;color: #000000;">
                                Podrás ingresar a la sala virtual el día que has agendado, presionando el botón Live. ¡Te estaremos esperando!
                            </div>
                        </td>
                    </tr>
                    <tr>

                        <tr>
                            <td align="center" style="font-size:0px;word-break:break-word;">
                                <div style="font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:14px;padding-top:20px;padding-left: 20px;padding-right:20px;padding-bottom:20px;font-weight:600;line-height:1.4;color: #000000;">
                                    <a href="@Model.UrlBackoffice" style="text-align:center; display:inline-block;background: #134609;color:#ffffff;font-family:OpenSans, BlinkMacSystemFont, Helvetica, Arial, sans-serif;font-size:15px;font-weight:600;line-height:1;margin:0;text-decoration:none;text-transform:none;padding:12px 12px;mso-padding-alt:0px;border-radius:6px; "
                                        target="_blank ">Ver Agenda</a>
                                </div>
                            </td>
                        </tr>
                        <tr>






                            </tr>
                </tbody>
                </table>
        </div>
    </div>




</body>

</html>